/* line 1, /Users/adefarquhar/app_academy/full_stack_project/fsp/app/assets/stylesheets/components/_feed.scss */
div.feed-posts {
  margin-left: 20%;
}

/* line 5, /Users/adefarquhar/app_academy/full_stack_project/fsp/app/assets/stylesheets/components/_feed.scss */
div.post-header {
  width: 500px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  padding-top: 15px;
}

/* line 14, /Users/adefarquhar/app_academy/full_stack_project/fsp/app/assets/stylesheets/components/_feed.scss */
li.feed-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  min-height: 140px;
  border: 1px solid black;
  border-radius: 3px;
  width: 540px;
}

/* line 25, /Users/adefarquhar/app_academy/full_stack_project/fsp/app/assets/stylesheets/components/_feed.scss */
div.post-footer {
  display: flex;
  width: 500px;
  height: 45px;
  justify-content: flex-end;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 35, /Users/adefarquhar/app_academy/full_stack_project/fsp/app/assets/stylesheets/components/_feed.scss */
div.post-options {
  display: flex;
  justify-content: space-around;
  margin-right: 0px;
  margin-left: 15px;
}

/* line 42, /Users/adefarquhar/app_academy/full_stack_project/fsp/app/assets/stylesheets/components/_feed.scss */
#edit-btn-icon {
  margin-left: 13px;
  margin-right: 13px;
}
