div.dash-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Muli', sans-serif;
}

header.dash-nav {
  display: flex;
  flex: 1;
  height: 50px;
  color: white;
  background-color: black;
  border-bottom: 1px solid black;
  opacity: 1;
}

div.dash-main {
  display: flex;
  flex: 15;
  margin-top: 50px;
  height: calc(100vh - 50px);
}

.dash-title {
  display: flex;
  align-self: center;
  font-size: 25px;
  padding-left: 1%;
  width: auto;
}

button.dash-logout {
  font-size: 25px;
  text-align: center;
  width: 100px;
  padding-right: 1%;
}

button.dash-logout:hover {
  color: #DE0F01;
}

div.dash-feed {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  border-right: 1px solid black;
  overflow-y: scroll;
  min-width: 76.5%;
}

div.dash-right-column {
  padding: 30px;  
  width: 20%;
}

footer.dash-right-footer {
  display: flex;
  justify-content: center;

  i {
    font-size: 40px;
  }
}
