div.feed-posts {
  margin-left: 20%;
}

div.post-header {
  width: 500px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  padding-top: 15px;
}

div.feed-post {
  display: flex;
  flex-direction: row;
  width: 621px;
  border-radius: 3px;
}

img.author-avatar {
  display: flex;
  margin-right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 3px;
  border: 1px solid black;
}

li.feed-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  min-height: 140px;
  border: 1px solid black;
  border-radius: 3px;
  width: 540px;
}

div.post-footer {
  display: flex;
  width: 500px;
  height: 45px;
  justify-content: space-between;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

div.post-likes {
  line-height: 2;
  font-size: 22px;
}

div.post-options {
  display: flex;
  justify-content: space-around;
  margin-right: 0px;
  margin-left: 15px;
}

div.like-post-btn {
  display: flex;
  align-content: center;
}

div.like-btn-on {
  color: red;
}

#edit-btn-icon {
  margin-left: 13px;
  margin-right: 13px;
}
