body.ReactModal__Body--open {
  overflow: hidden;
}

div.modal-button {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid lightgrey;

  button {
    border-radius: 3px;
    width: 60px;
    height: 30px;
    text-align: center;
    color: white;
  }

  .form-button {
    background-color: darkgrey;
  }

  .post-submit-button {
    background-color: black;
  }

  .post-submit-button:disabled {
    background-color: lightslategrey;
  }
}

input.media-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-post-form,
.post-form,
.audio-post-form,
.photo-post-form,
.video-post-form,
.text-post-form,
.quote-post-form,
.link-post-form {
  box-sizing: border-box;
  width: 100%;
}

.audio-post-form,
.photo-post-form,
.video-post-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .title-input {
    min-height: 100px;
  }
}

.text-post-form, .quote-post-form {
  .title-input {
    font-size: 36px;
  }
}

div.post-body .body-input {
  min-height: 150px;
}

div.media-field {
  display: flex;
  flex-direction: column;
}

.title-input,
.body-input {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 50px;
  font-size: 18px;
}

.media-field img,
.post-form audio,
.post-form video {
  display: block;
  max-width: 100%;
  width: 100%;
}

.post-form video {
  max-height: 160px;
}

div.form-errors {
  color: red;
  font-weight: bold;
}
