div.post-bar {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  width: 620px;
  height: 100px;
  font-family: 'Muli', sans-serif;
}

img.user-avatar {
  display: flex;
  margin-right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 3px;
  border: 1px solid black;
}

div.post-form-links {
  display: flex;
  flex-direction: row
}

div.post-form-links:last-child {
  border-right: 0px;
}


button.post-bar-button {
  display: flex;
  justify-content: center;
  align-content: center;
}

div.bar-form-button {
  display: flex;
  justify-content: center;
  align-content: center;
  border-right: 1px solid black;
}



div.post-bar-content {
  display: flex;
  justify-content: center;
  width: 90px;
}

div.post-bar-content:hover {
  cursor: pointer;
  transform: translateY(-7px);
}

span.new-post-label {
  width: 90px;
  display: flex;
  justify-content: center;
}

div.button-icon {
  display: flex;
  justify-content: center;
}
