div.rec-users {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

h2.rec-users-title {
  font-family: 'Yanone Kaffeesatz',
  sans-serif;
  font-size: 33px;
  margin-bottom: 15px;
}

ul.rec-users-list {
  display: flex;
  flex-direction: column;
}

i.fa-plus-square:before {
  font-size: 30px;
}

img.rec-user-avatar {
  height: 40px;
  width: 40px;
}
