div.rec-users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.rec-users-title {
  font-family: 'Yanone Kaffeesatz',
  sans-serif;
  font-size: 33px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: black solid 2px;
  text-align: center;
}

ul.rec-users-list {
  display: flex;
  flex-direction: column;
  width: 95%;
}

li.rec-user-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 7px;
  border-bottom: black solid 1px;

  div.rec-user-block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  i.fa-plus-square:before {
    font-size: 30px;
  }

  button.follow-user {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.follow-user:hover,
  button.follow-user:focus {
    color: #CE0063;
  }

  img.rec-user-avatar {
    @include avatar-frame(40px, 2px);

    margin-right: 10px;
  }
}
